<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCOiprfb9D6ZozT-X7A9J2xn9XWSGFbSek</string>
	<key>GCM_SENDER_ID</key>
	<string>792057721082</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ca.georgian.nikunjthakor.Daily-Quotes</string>
	<key>PROJECT_ID</key>
	<string>dailyquotesdb</string>
	<key>STORAGE_BUCKET</key>
	<string>dailyquotesdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792057721082:ios:f62ab9bf67dd81b08c1943</string>
</dict>
</plist>